.post-footer {
  width: 700px;
  margin: 60px auto;
}
.post-footer > h3 {
  text-align: center;
}

.photo img {
  border-radius: 50%;
  border: 10px solid #eee;
  margin-top: 10px;
}
.byline h3,
.byline p {
  font-size: 14px;
  line-height: 24px;
  margin-left: 160px;
}
.byline h3 a {
  color: #222;
}
.sidebar {
  position: relative;
}
.bio {
  position: absolute;
  left: 25%;
}
.byline {
  position: relative;
}
.photo {
  position: absolute;
}
